---
import BaseLayout from '@layouts/BaseLayout.astro'
import PostList from '@components/PostList.astro'

const posts = Astro.fetchContent('./*.md');
posts.sort(sortByDate);

function sortByDate(e1, e2) {
    return e1.date <e2.date ? 1 : -1;
}

---

<style>
    ol {
        padding-inline-start: 0;
        list-style: none;
    }
</style>

<BaseLayout>
    <h1>Blog</h1>
    <PostList posts={ posts } />
</BaseLayout>