---
import BaseLayout from '../../layouts/BaseLayout.astro'
import PostTag from '../../components/PostTag.astro';
const posts = Astro.fetchContent('./*.md');

function sortEvents(e1, e2) {
    return e1.date <e2.date ? 1 : -1;
}

function formatDate(date) {
    const options = { year: 'numeric', month: 'short', day: "2-digit", };
    const dt = new Date(date)
    const formatter = new Intl.DateTimeFormat('en-US', options);
    return formatter.format(dt);
}

---

<style>
    h2 {
        margin:0;
    }

    ol {
        padding-inline-start: 0;
    }

    .post-list li {
        list-style: none;
        display: flex;
        align-items: baseline;
        padding: .25rem 0;
    }
    .post-list a {
        color: black;
        font-weight: 700;
    }

    .post-list .date {
        padding: 0 .5rem 0 1rem;
        font-size: .825rem;
        text-transform: uppercase;
    }
</style>

<BaseLayout>
    <h1>Blog</h1>
    <ol class="post-list">
        {
            posts.sort(sortEvents).map((post) => {
                return (
                    <li>
                        <a href={`${post.url}`}>{post.title}</a>
                        <span class="date">{formatDate(post.date)}</span>
                        {post.tags.map((tag) => {
                            return (
                                <PostTag>{tag}</PostTag>
                            );
                        })}
                    </li>
                )
            })
        }
    </ol>
</BaseLayout>