---
import BaseLayout from '@layouts/BaseLayout.astro';
import PostList from '@components/PostList.astro';

const posts = Astro.fetchContent('./posts/*.md');
posts.sort(sortByDate)
const recentPosts = posts.slice(0,3);
function sortByDate(e1, e2) {
    return e1.date <e2.date ? 1 : -1;
}
---
<BaseLayout>
    <h1>Recent Posts</h1>
    <PostList posts={ recentPosts } />
    More posts can be found in <a href="/posts">the archive.</a>
</BaseLayout>