---

---

<header>
  <img
    src="/assets/profile-pic-2020.jpeg"
    alt="Profile Picture of Shea Leslein.  Handsome dude.  Nice beard!"
  />
  <ul class="nav">
    <li><h1><a href="/">Shea Leslein</a></h1></li>
    <li class="nav-item"><a href="/posts">Blog</a></li>
    <li class="nav-item"><a href="/about">About</a></li>
  </ul>
</header>
