    <header>
        <img src="/assets/profile-pic-2020.jpeg" />
        <h1> <a href="/">Shea Leslein</a></h1>

        <ul class="nav">
            <li><a href="/posts">Blog</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </header>