<style>
    .post-tag {
        background-color: var(--primary);
        color: var(--white);
        border-radius: .25rem;
        font-size: .625rem;
        padding: .125rem .5rem;
        margin-left: .5rem;
        text-transform: uppercase;
    }
</style>
<span class="post-tag"><slot /></span>